#Tours {
    width: 100%;
    height: auto;
    padding: 5% 0;
    background: #1b1b25;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ToursContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2%;
}

.TheCard {
    overflow: hidden;
    border-radius: 15px;
    width: 310px;
    height: 400px;
    background: #475b74;
    margin-bottom: 5%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TourImg {
    margin-bottom: 5%;
    z-index: 10;
    width: 100%;
    height: 55%;
    border-radius: 15px;
    box-shadow: 0 0 8px #333;
}

.TheCard p {
    z-index: 10;
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    transition: 0.5s;
}

.btns {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 100%;
}

.TheCard a {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 8px;
    font-size: 18px;
    font-weight: 700;
    background: transparent;
    outline: none;
    border: 2px solid black;
    color: black;
    border-radius: 4px;
}


.TheCard a:hover {
    color: orangered;
    border: 2px solid orangered;
}

.TheCard:hover p {
    color: #e4e4e4;
}

.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #333;
    transition: height 0.5s;
}

.TheCard:hover > .overlay {
    height: 60%;
}

.ribbon-wrap {
    z-index: 10;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -10px;
}

.ribbon {
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 8px 0;
    background: #1b1b25;
    color: white;
    position: absolute;
    transform: rotate(-45deg);
    right: -20%;
    top: 20%;
    box-shadow: 0 0 8px black;
}